* {
    outline: none!important;
}

.navbar-brand {
    padding: 8px;
}

.navbar-nav > li > a {
    padding: 0 15px;
    line-height: 66px;
}

.content {
    margin-top: 67px;
}

h2 {
    padding-top: 65px;
    margin-top: -50px;
}

#carousel-example-generic {
    width: 850px;
    margin: 0 auto;
}
    .carousel-caption {
        width: 100%;
        background-color: rgba(64, 64, 64, 0.9);
        margin-left: -170px;
        margin-bottom: -20px;
        height: 106px;
        transition: height 0.7s;
        -webkit-transition: height 0.7s;
    }

            .carousel .item .carousel-caption p {
                display: none;
                text-align: left;
                margin-left: 60px;
                margin-right: 60px;
            }

        .carousel .item:hover .carousel-caption {
            height: 500px;
        }

            .carousel .item:hover .carousel-caption p {
                display: block;
            }
    
    .carousel-control {
        z-index: 1000;
    }
        .carousel-control .icon-prev,
        .carousel-control .icon-next {
            font-size: 50px;
            margin-top: -25px; /* 0.5 of font-size */
            
        }
        .carousel-control.left {
            background-image: linear-gradient(to left, transparent 0px, rgba(0, 0, 0, 0.8) 100%);
        }
        .carousel-control.right {
            background-image: linear-gradient(to right, transparent 0px, rgba(0, 0, 0, 0.8) 100%);
        }

    .carousel-indicators {
        display: none;
    }

.contacts {
    list-style: none;
    padding: 0;
    }

    .contacts li {
        float: left;
        width: 33%;
        }

footer {
    margin-top: 100px;
    text-align: center;
    color: grey;
    }
